//////////////////////////////////////////////////////////////////////////////////////////
// Flex alignment
//////////////////////////////////////////////////////////////////////////////////////////

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aligned-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spaced-column {
    @extend .aligned-column;
    justify-content: space-between;
}

.aligned-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.spaced-row {
    @extend .aligned-row;
    justify-content: space-between;
}

.centered-row {
    @extend .aligned-row;
    justify-content: center;
}


//////////////////////////////////////////////////////////////////////////////////////////
// Position style
//////////////////////////////////////////////////////////////////////////////////////////

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}
