@import "./_variables.scss";


.background {
    position: fixed;
    top: 0;
    z-index: -999;
    background-repeat: no-repeat;
}


//////////////////////////////////////////////////////////////////////////////////////////
// Solid color backgrounds
//////////////////////////////////////////////////////////////////////////////////////////

.bg-color-white {
    background-color: white;
}

.bg-color-black {
    background-color: black;
}


//////////////////////////////////////////////////////////////////////////////////////////
// Full-screen backgrounds
//////////////////////////////////////////////////////////////////////////////////////////

.background-full {
    @extend .background;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.background-rails {
    @extend .background-full;
    background-image: url("/images/bg_rails.jpg");
    // filter: grayscale(100%) contrast(75%) brightness(75%);
    filter: grayscale(85%);
}

.background-river {
    @extend .background-full;
    background-image: url("/images/bg_river.jpg");
    filter: grayscale(90%) brightness(75%) contrast(135%);
}

.background-keyboard {
    @extend .background-full;
    background-image: url("/images/bg_keyboard.png");
    filter: brightness(85%);
}


//////////////////////////////////////////////////////////////////////////////////////////
// Side-screen backgrounds
//////////////////////////////////////////////////////////////////////////////////////////

.background-side {
    @extend .background;
    width: 100vw;
    height: 100vh;
    background-position: right;
    background-size: contain;

    @media only screen and (max-width: $break-sm-max) {
        background-size: cover;
    }
}

.background-cntower {
    @extend .background-side;
    background-image: url("/images/bg_cntower.jpg");
    filter: grayscale(85%);

    // &::after {
    //     @extend .bg-color-white;
    //     @media only screen and (min-width: $break-md-min) {
    //         content: "";
    //         position: absolute;
    //         height: 100%;
    //         width: 7.5%;
    //         right: 25%;
    //     }
    // }
}

.background-leds-vertical {
    @extend .background-side;
    background-image: url("/images/bg_leds_side.jpg");
    filter: contrast(120%) brightness(120%) grayscale(98%);

    // &::after {
    //     @extend .bg-color-white;
    //     @media only screen and (min-width: $break-md-min) {
    //         content: "";
    //         position: absolute;
    //         height: 100%;
    //         width: 5.5%;
    //         right: 23.75%;
    //     }
    // }
}


//////////////////////////////////////////////////////////////////////////////////////////
// Backgrounds inside containers
//////////////////////////////////////////////////////////////////////////////////////////

.background-contained {
    background-position: center;
    background-size: cover;
}