@import "./_variables.scss";


//////////////////////////////////////////////////////////////////////////////////////////
// Custom spacing
//////////////////////////////////////////////////////////////////////////////////////////

.p-45 {
    padding: $spacing-45 !important;
}


//////////////////////////////////////////////////////////////////////////////////////////
// Bordered boxes
//////////////////////////////////////////////////////////////////////////////////////////

.boxed-black {
    border: 1px solid black;
}


//////////////////////////////////////////////////////////////////////////////////////////
// Drop shadows
//////////////////////////////////////////////////////////////////////////////////////////

.shadow-black-diag {
    box-shadow: 8px 8px 0 0 #303030;
}