@import "./_variables.scss";


//////////////////////////////////////////////////////////////////////////////////////////
// Bordered boxes with padding
//////////////////////////////////////////////////////////////////////////////////////////

.boxed-padding-xs {
    border: 1px solid black;
    padding: $spacing-xs;
}
.boxed-padding-sm {
    border: 1px solid black;
    padding: $spacing-sm;
}
.boxed-padding-md {
    border: 1px solid black;
    padding: $spacing-md;
}
.boxed-padding-lg {
    border: 1px solid black;
    padding: $spacing-lg;
}
.boxed-padding-xl {
    border: 1px solid black;
    padding: $spacing-xl;
}


//////////////////////////////////////////////////////////////////////////////////////////
// Drop shadows
//////////////////////////////////////////////////////////////////////////////////////////

.shadow-black-diag {
    box-shadow: 8px 8px 0 0 #303030;
}