@import "./_variables.scss";
@import "./alignment.scss";
@import "./backgrounds.scss";
@import "./containers.scss";
@import "./spacing.scss";
@import "./text-styles.scss";

body, h1, h2, h3, h4, h5, h6, p, div, ul, li {
    margin: 0;
    padding: 0;
}

.test-border-red {
    border: 1px solid red;
}
.test-border-blue {
    border: 1px solid blue;
}