@import "./_variables.scss";


//////////////////////////////////////////////////////////////////////////////////////////
// Horizontal spacing
//////////////////////////////////////////////////////////////////////////////////////////

.h-spacing-xs {
    width: 0;
    margin-left: $spacing-xs;
}
.h-spacing-sm {
    width: 0;
    margin-left: $spacing-sm;
}


//////////////////////////////////////////////////////////////////////////////////////////
// Vertical spacing
//////////////////////////////////////////////////////////////////////////////////////////

.v-spacing-xs {
    height: 0;
    margin-top: $spacing-xs;
}
.v-spacing-sm {
    height: 0;
    margin-top: $spacing-sm;
}
.v-spacing-md {
    height: 0;
    margin-top: $spacing-md;
}
.v-spacing-lg {
    height: 0;
    margin-top: $spacing-lg;
}
.v-spacing-xl {
    height: 0;
    margin-top: $spacing-xl;
}


//////////////////////////////////////////////////////////////////////////////////////////
// Horizontal margins
//////////////////////////////////////////////////////////////////////////////////////////

.h-margin-sm {
    margin-left: $spacing-sm;
    margin-right: $spacing-sm;
}
.h-margin-md {
    margin-left: $spacing-md;
    margin-right: $spacing-md;
}


//////////////////////////////////////////////////////////////////////////////////////////
// Vertical margins
//////////////////////////////////////////////////////////////////////////////////////////

.v-margin-xs {
    margin-top: $spacing-xs;
    margin-bottom: $spacing-xs;
}
.v-margin-sm {
    margin-top: $spacing-sm;
    margin-bottom: $spacing-sm;
}
.v-margin-md {
    margin-top: $spacing-md;
    margin-bottom: $spacing-md;
}
.v-margin-lg {
    margin-top: $spacing-lg;
    margin-bottom: $spacing-lg;
}