@import "./_variables.scss";


//////////////////////////////////////////////////////////////////////////////////////////
// Fonts
//////////////////////////////////////////////////////////////////////////////////////////

.font-primary {
    font-family: $font-primary;
}
.font-title {
    font-family: $font-title;
}
.font-decorative {
    font-family: $font-decorative;
}


//////////////////////////////////////////////////////////////////////////////////////////
// Font weights
//////////////////////////////////////////////////////////////////////////////////////////

.font-weight-normal {
    font-weight: normal;
}
.font-weight-bold {
    font-weight: bold;
}


//////////////////////////////////////////////////////////////////////////////////////////
// Font sizes
//////////////////////////////////////////////////////////////////////////////////////////

.font-size-05 {
    font-size: 0.5rem;
}
.font-size-075 {
    font-size: 0.75rem;
}
.font-size-09 {
    font-size: 0.9rem;
}
.font-size-1 {
    font-size: 1rem;
}
.font-size-125 {
    font-size: 1.25rem;
}
.font-size-15 {
    font-size: 1.5rem;
}
.font-size-4 {
    font-size: 4rem;
}


//////////////////////////////////////////////////////////////////////////////////////////
// Miscellaneous font styles
//////////////////////////////////////////////////////////////////////////////////////////

.side-text-label {
    @extend .font-size-4;
    position: absolute;
    left: 0;
    margin-left: -7rem;
    writing-mode: vertical-lr;
    transform: rotate(180deg);

    @media only screen and (max-width: $break-xxl-max) {
        display: none;
    }
}